// Mixins Here

.btn-mixin(@background-color, @color){
    background-color: @background-color;
    color: @color;
  }

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

